body {
    background-color: #E6E6FA; 
    color: #bd36a9;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    
}
header {
    background-color: #f4cdff; 
    color: #6e2b52;
    font-family: Arial;
    margin: 00px;
    padding: 15px;
}
main {
    color: #2a2769;
    font-family: Arial;
    margin: 10px 20px 60px;
    padding: 00px;
    font-size: 14pt;
}
footer {
    background-color: #f4cdff; 
    color: #982175;
    font-family: Arial;
    margin: 00px;
    padding: 15px;
    font-style: italic; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}
a {
    color: rgb(7, 3, 254);
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: rgb(122, 1, 159);
    text-decoration: none;
    
}
a:visited {
    color: rgb(255, 162, 0);
    text-decoration: underline;
    transition: 0.3s;
}
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 5px solid #090e4d9f;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #ffffff53;
    box-shadow: 0 0 15px #88100080
}
h1 {
    text-align: center;
}